block section
    mixin section(title, paragraph, comment, description, text)
        .section
            if (title === 'experience')
                b.section__paragraph.section__paragraph_experience= paragraph
            
            if (title === 'education')
                b.section__paragraph.section__paragraph_education= paragraph
            
            p.section__comment= comment
            p.section__description= description
            
            .section__position
                p.section__text= text